!DOCTYPE html>

<html>
    <head>
        <title>@page (play-example-login)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    </head>
    <body>

            <!-- Responsive navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                Add user details
            </div>
        </div>
    </body>
</html>